.album-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cover-image {
    object-fit: cover;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}